<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/style.css">
  <title>FineArt</title>
</head>
<body>
  <%- include('partials/_navbar') %>
  <h1>Welcome to FineArt</h1>
</body>
</html>
